.content{
    grid-area: c;
    background-color: cornflowerblue;
    }



    .item{
      
        color: greenyellow;
    }

    .item img{
        display: inline-block;
        border-radius: 50%;
        width: 50px;
    }